body{
    color: rgb(0, 0, 0);
    background: rgb(106, 166, 218);
    margin: 0px;
    font-family: "Purple Purse", sans-serif;
}

header{
    border-bottom: solid  2px rgb(32, 44, 78);
    padding: 20px;
    font-size: 32px;
    color:  rgb(22, 31, 54);
}

.chamada{
    background: #001222;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 40px;
}

img{
    height: 200px;
}
.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}